img {
    width: 100px;
    padding-left: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
    /* margin: 10px; */
    padding: 10px;
    box-shadow: 2px 1px 1px #d1cece;
    /* border: 1px solid black; */
}

/* .navbar > ul > a > li {
    list-style-type: none;
    padding: 0 20px;
    cursor: pointer;
} */

 a {
    list-style-type: none;
    padding: 0 20px;
    cursor: pointer; 
    font-weight: 700;
    font-size: 18px;
}

ul {
    display: flex;
}

button{
    width: 70px;
    padding: 10px;
    background-color: rgb(28, 16, 71);
    color: #ffffff;
    border: none;
}

a{
    text-decoration: none;
}

.auth{
    /* width: 80px; */
    display: flex;
}

ul > a > li {
    color: #525050;
}